<header class="w-full">
  <nav class="bg-white shadow-sm fixed top-0 left-0 w-full z-50">
    <div class="container mx-auto flex items-center justify-between py-4 px-4">
      <a class="flex items-center text-xl font-bold text-blue-600" href="#">
      <img src="assets/images/logo1.png" alt="Logo" class="h-10 w-auto"> <!-- Image réduite -->
      <span class="ml-2 text-[#864040]">Momo Onglerie</span>
    </a>

      <button class="lg:hidden">
        <span class="material-icons">menu</span>
      </button>

      <ul class="hidden lg:flex items-center space-x-6">
        <li><a class="font-semibold text-[#864040] hover:text-[#9e6666]" href="#services">Services</a></li>
        <li><a class="font-semibold text-[#864040] hover:text-[#9e6666]" href="#horaires">Horaires</a></li>
        <li><a class="font-semibold text-[#864040] hover:text-[#9e6666]" href="#contact">Contact</a></li>
        <li>
          <a href="https://wa.me/221770000000"
            class="bg-[#864040] text-white px-4 py-2 rounded-lg font-semibold hover:bg-[#9e6666]" target="_blank">
            Réserver via WhatsApp
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="h-[90vh] bg-cover bg-center flex items-center justify-center"
    style="background-image: url('assets/images/img111.jpg');">
    <div class="text-center">
      <h1 class="text-white text-4xl font-bold">Relaxation & Bien-être</h1>
      <p class="text-white/80 text-lg mt-2">
        Découvrez nos soins professionnels pour un moment de détente unique.
      </p>
      <a href="#services" class="bg-white text-gray-800 px-6 py-2 mt-4 inline-block font-semibold rounded-lg">
        Découvrir les services
      </a>
    </div>
  </section>
</header>
