
.text-color {
    color: var(--primary-color);
}

.navbar {
    padding: 15px 0;
}

.nav-link {
    transition: .3s;
}

.nav-link:hover {
    color: var(--secondary-color) !important;
}

.btn-color {
    background: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    transition: .3s;
    border: none;
}

.btn-color:hover {
    background: var(--primary-dark);
    color: #fff;
}

.btn-custom {
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    transition: all .3s ease;
}

.btn-custom:hover {
    background: var(--primary-dark);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(134, 64, 64, 0.3);
}

/* Bouton hamburger */
.navbar-toggler {
    border: none;
    color: var(--primary-color);
    padding: 5px 8px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler i {
    color: var(--primary-color);
}

/* Mobile */
@media (max-width: 991.98px) {

    .navbar-nav {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .nav-item {
        margin-left: 0 !important;
    }

    .nav-link {
        padding: 10px 0;
    }

    .btn-color,
    .btn-custom {
        display: block;
        width: 100%;
        text-align: center;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

/* Hero */
.hero {
    height: 90vh;
    background:
        linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
        url("/assets/images/img111.jpg") center/cover no-repeat;
    margin-top: 76px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    max-width: 700px;
    margin: auto;
}